<ion-toolbar class="header">
  <ion-buttons slot='end'>
    <ion-icon name="home" class="home_icon"></ion-icon>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title >My Diary</ion-title>
  </ion-toolbar>
<ion-content class="body_bg">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="card" style=" overflow:visible !important;">  
    <div class="item item-divider calm-bg customHeader" style="background-color:#ec0576;color:#fff !important;padding: 0px;">
       <p style="text-align:center;margin-top:15px !important;color:#ec0576;font-weight: bold; margin: 0;
       padding: 10px;" ><span style="color:white;">{{username}}</span></p>
          </div>
            <div class="item item-divider calm-bg customHeader "  style="background-color:#ccc;color:white !important;text-align: center; padding: 10px;">
            Business Target for &nbsp;{{goalsheet}}
          </div>
           <!-- <div class="button-bar" style="background-color:#ccc;">
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">Business Target for 31-03-2018</a>
           
          </div> -->
         
         <!--  <div align="center" class="item" style=" border-top:none;">
            <table id="profileTable">             
              <tr>
                <th><strong>DEPOSIT</strong></th>
                <td>{{targetuserdata.Deposit}}</td>
              </tr>
              <tr>
                <th><strong>CASA</strong></th>
                <td>{{targetuserdata.CASA}}</td>
              </tr>
              <tr>
                <th><strong>ADVANCE</strong></th>
                <td>{{targetuserdata.advance}}</td>
              </tr>
              <tr>
                <th><strong>NPA</strong></th>
                <td>{{targetuserdata.NPA}}</td>
              </tr>
             <tr>
                <th><strong>INSURANCE (SP)</strong></th>
                <td>{{targetuserdata.Existing5}}</td>
              </tr>
              <tr>
                <th><strong>INSURANCE (NSP)</strong></th> 
                <td>{{targetuserdata.new5}}</td>
              </tr>
            </table>
          </div> --> 
          <!-- <div class="row">
            <div class="col-6">
              <span>DEPOSIT</span>
            </div>
            <div class="col-6">
              <span style="float:right">{{targetuserdata.Deposit}}</span>
            </div>
            <div class="col-6">
              <span>NPA</span>
            </div>
            <div class="col-6">
              <span style="float:right">{{targetuserdata.NPA}}</span>
            </div>
          </div>     -->
          <div class="row">
            <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>DEPOSIT</span>
            </div>
            <div class="col col-30">
              <span style="float:right">{{targetuserdata.Deposit}}</span>
            </div>
          </div>
              
            </div>
            <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>NPA</span>
            </div>
            <div class="col col-30">
              <span  style="float:right">{{targetuserdata.NPA}}</span>
            </div>
          </div>
              
            </div>
            </div>      
  
            <div class="row">
            <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>CASA</span>
            </div>
            <div class="col col-30">
              <span style="float:right">{{targetuserdata.CASA}}</span>
            </div>
          </div>
              
            </div>
            <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>Insurance Fee Income</span>
            </div>
            <div class="col col-30">
              <span style="float:right">{{targetuserdata.Existing5}}</span>
            </div>
          </div>
              
            </div>
            </div> 
  
            <div class="row">
            <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>ADVANCE</span>
            </div>
            <div class="col col-30">
              <span style="float:right">{{targetuserdata.advance}}</span>
            </div>
          </div>
              
            </div>
            <!-- <div class="col col-50">
              <div class="row">
            <div class="col col-70">
              <span>INSURANCE(NSP)</span>
            </div>
            <div class="col col-30">
              <span style="float:right">{{targetuserdata.new5}}</span>
            </div>
          </div>
              
            </div> -->
            </div>    
        </div>
  
        <div class="card" style=" overflow:visible !important;">
          <div class="item item-divider calm-bg customHeader "  style="background-color:#ec0576;color:#fff !important;">
            Distribution of Business Target (Rs.In Lakhs)
          </div>
          <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">DEPOSIT</a>
          </div>
            <div class="button-bar" style="background-color:#ccc;">
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">Existing</a>
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">New</a>
          </div>
            <div class="row" style="    text-align: center;margin:0;">
           
            <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.Existing1}}</div>
             <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.New1}}</div>
          </div>
          <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">CASA</a>
          </div>
            <div class="button-bar" style="background-color:#ccc;">
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">Existing</a>
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">New</a>
          </div>
            <div class="row" style="    text-align: center;margin:0;">
           
            <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.Existing2}}</div>
             <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.New2}}</div>
          </div>
           <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">ADVANCE</a>
          </div>
            <div class="button-bar" style="background-color:#ccc;">
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">Existing</a>
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">New</a>
          </div>
            <div class="row" style="    text-align: center;margin:0;">
           
            <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.Existing3}}</div>
             <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.New3}}</div>
          </div>
          <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">NPA (To Be Collected)</a>
          </div>
            
            <div class="row" style="    text-align: center;margin:0;">
            <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.Existing4}}</div>
          </div>
          <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">INSURANCE(FEE INCOME)</a>
          </div>
            <!--<div class="button-bar" style="background-color:#ccc;">
             //<a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">SP</a>
            <a class="customsalesbtn" style="font-size: 12px;width: 50%; color: #000;padding:5px;text-align:center;font-weight:bold">NSP</a> 
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #000;padding:5px;text-align:center;font-weight:bold">Insurance Fee Income</a>
          </div>-->
            <div class="row" style="    text-align: center;margin:0;">
            <div class="col" style="font-size: 12px;padding: 1px;width: 25%;font-weight:bold;">{{targetbranchuserdata?.Existing5}}</div>
            <!-- <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">{{targetbranchuserdata?.New5}}</div> -->
          </div>
          <div class="button-bar" style="background-color:#696969;">
            <a class="customsalesbtn" style="font-size: 12px;width: 100%; color: #ccc;padding:5px;text-align:center;">OTHERS</a>
          </div>
            
            <div class="row" style="    text-align: center;margin:0;">
            <div class="col" style="font-size: 12px;padding: 1px;width: 12.5%;font-weight:bold;">0.00</div>
          </div>
  
        </div>
  
           <div class="card">
        
  <dl style="padding-left: 10px;">
    <dt style="color:#ec0576;">Note</dt>
    <dd style="color:#ec0576;">Existing : Additional Business from Existing Customers
  
    <dd style="color:#ec0576;">New : Business from New Customers</dd>
  </dl>
   </div>
</ion-content>

<!-- <ion-footer class="footer">
  <p class="footer_content">City Union Bank Ltd</p>
</ion-footer> -->