.input_heading {
  margin-bottom: 10px;
}
.select_field {
  width: 100% !important;
}
.card_heder {
  background: deeppink;
  color: #fff !important;
}
.input_field{
  // width:96%;
  text-align: left;
  // --background:#DADADA;
  margin-left: auto;
  margin-right: auto;
  color: black !important;
  border-radius: 5px;
height:40px;
border:1px solid grey;

  // --background:grey
}