.toolbar_card{
    padding: 10px;
width: 100%;
margin-left: auto;
margin-right: auto;
border-radius: 0px;
margin-top: 0px;
text-align: center;
font-size: 14px;
font-weight: 700;
color: black;
background: white;
}
.card_content{
    width:92%;margin-left: auto;margin-right: auto;box-shadow: none !important;
}
.input_heading{
color:black;
font-weight: bold;
// margin-left: 2%;
// width:96%;
// margin-top: 2px;
}
.input_field{
    // width:96%;
    text-align: left;
    // --background:#DADADA;
    margin-left: auto;
    margin-right: auto;
    color: black !important;
    border-radius: 5px;
height:40px;
border:1px solid grey;

    // --background:grey
}
.select_field{
//   width:100%;
    // border:0px solid grey;
    // border-radius: 5px;
    // right: 1px !important;
    // overflow:auto ;
    color:black !important;
    // position: absolute;
    border-radius: 5px;
    --background:#F5F5F5
}
.text_area{
    height:70px;
    border:1px solid gray;
}
.content_item{
    // padding:5px
margin-top:01rem;
color:black !important

// margin-bottom: 2rem !important;
}
.submit_button{
    width:86%;
    // height:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    --background:#ec0677
}

ion-popover{
    margin-top: -20px;
}