.card_heder{
    background-color: #ec0576;
    padding:10px
}
.card_heading{
    color:white;
    border:0px
}
.card_left_text{
    color: black;
    text-align: left;
    font-weight: bold;
}
.card_right_text{
    color: black;
    text-align: right;
    font-size: 14px;
    // font-weight: bold;
}