
<ion-toolbar class="header">
  <ion-buttons slot='end'>
    <ion-icon name="close" class="home_icon" (click)="modelDissmiss()"></ion-icon>
    <!-- <ion-menu-button></ion-menu-button> -->
  </ion-buttons>
  <ion-title >Call Connected</ion-title>
  </ion-toolbar>

<ion-content>

  <ion-card>
    <ion-grid>
        <ion-row>
        <ion-col size="6" class="col_height">
          <div>
            <p class="card_left_text">Caller Name</p>
          </div> 
        </ion-col>
        <ion-col size="6" class="col_height">
          <div>
            <p class="card_right_text">{{clickcall.callerName}}</p>
          </div>
        </ion-col>

        <ion-col size="6" class="col_height">
          <div>
            <p class="card_left_text">Customer Name</p>
          </div> 
        </ion-col>
        <ion-col size="6" class="col_height">
          <div>
            <p class="card_right_text">{{clickcall.customerName}}</p>
          </div>
        </ion-col>

        <ion-col size="6" class="col_height">
          <div>
            <p class="card_left_text">Caller Number</p>
          </div> 
        </ion-col>
        <ion-col size="6" class="col_height">
          <div>
            <p class="card_right_text">{{clickcall.callerMobile}}</p>
          </div>
        </ion-col>

        <ion-col size="6" class="col_height">
          <div>
            <p class="card_left_text">Customer Number</p>
          </div> 
        </ion-col>
        <ion-col size="6" class="col_height">
          <div>
            <p class="card_right_text">{{clickcall.customerMobile}}</p>
          </div>
        </ion-col>

        <div class="container-fluid">
          <div class="col-sm-12 text-center">
              <ion-button class="schedulebutn fa fa-pencil-square-o"
                  style="font-size: 13px;letter-spacing: 1px;"
                  (click)="Endcall(clickcall)" ng-disabled="disablestart"
                  center>End</ion-button>
  
          </div>
      </div>

        <div class="row" style="">
          <span style="font-size:12px;margin-top: 10px;">Note: You can press end call button if it is a lengthy call with customer and update actions button later. As long as call was connected on click to call, it will be counted towards the same.</span>
          </div>
  
</ion-row>
</ion-grid>  
</ion-card>

  <!-- <div class="item item-text-wrap" style="padding-left: 35px;padding-top:0px !important; ">
    <div class="row" style="">
        <div class="col col-50" style="padding: 0px;">
            <p style="font-weight:bold;">Caller Name</p>
            <span style="font-size: 14px;">hfgfg</span>
        </div>
        <div class="col col-50" style="padding: 0px;">
            <p style="font-weight:bold;">Customer Name</p>
            <span style="font-size: 14px;">hgfjg</span>
        </div>
    </div>
    <div class="row" style="">
        <div class="col col-50" style="padding: 0px;">
            <p style="font-weight:bold;">Caller Number</p>
            <span style="font-size: 14px;">uyurtdrsdd</span>
        </div>
        <div class="col col-50" style="padding: 0px;">
            <p style="font-weight:bold;">Customer Number</p>
            <span style="font-size: 14px;">uyresfhkjok</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12 text-center">
            <button class="schedulebutn fa fa-pencil-square-o"
                style="font-size: 13px;letter-spacing: 1px;"
                ng-click="Endcall(clickcall)" ng-disabled="disablestart"
                center>End</button>

        </div>
    </div>

    <div class="row" style="">
        <span style="font-size:12px;margin-top: 10px;">Note: You can press end call button if it is a lengthy call with customer and update actions button later. As long as call was connected on click to call, it will be counted towards the same.</span>
        </div>
</div>     -->
</ion-content>
