.card_heder {
  background: deeppink;
  color: #fff !important;
}
.w-100-p {
    width: 100% !important;
}
.input_heading {
margin-bottom: 10px;
}

.input_field{
// width:96%;
text-align: left;
// --background:#DADADA;
margin-left: auto;
margin-right: auto;
color: black !important;
border-radius: 5px;
height:40px;
border:1px solid grey;

// --background:grey
}