<ion-toolbar class="header">
  <ion-buttons slot='end'>
    <ion-icon name="close" class="home_icon" (click)="modelDissmiss()"></ion-icon>
    <!-- <ion-menu-button></ion-menu-button> -->
  </ion-buttons>
  <ion-title>My Assign Call</ion-title>
</ion-toolbar>
<ion-content>
  <form [formGroup]="MyassignCallForm" (submit)="onSubmitForm(MyassignCallForm)">
    <ion-card>
      <ion-card-header class="card_heder">
        <span class="card_heading">Purpose: {{Cusdata.Purpose}}</span>
        <!-- <ion-card-title>Card Title</
          ion-card-title> -->
        <span style="float:right;color:white"></span>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <div class="w-100-p">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Call OutCome</ion-label>
                </div>
                <ion-item class="input_field">
                  <ion-select class="select_field w-100-p" (ionChange)="changeCallOutcome($event)"
                    formControlName="calloutcome" placeholder="Select">
                    <ion-select-option value="null" selected>Select</ion-select-option>
                    <ion-select-option [(value)]="item.Value" *ngFor="let item of CallOutcomeItems">{{item.Text}}</ion-select-option>
                    <!-- <ion-select-option value="Calls-FollowUp">Calls-FollowUp</ion-select-option> -->
                  </ion-select>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Call Type</ion-label>
                </div>
                <ion-item class="input_field">
                  <ion-select class="select_field w-100-p" (ionChange)="changeCallType($event)"
                    formControlName="calltype" placeholder="Select">
                    <ion-select-option value="" >Select</ion-select-option>
                    <ion-select-option value="T" [selected]>Telecall</ion-select-option>
                    <ion-select-option value="P" >Personal Visit</ion-select-option>
                    <!-- <ion-select-option value="Telecall" *ngFor="let item of CallTypeItem">Telecall</ion-select-option> -->
                    <!-- <ion-select-option value="Personal Visit">Personal Visit</ion-select-option> -->
                  </ion-select>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p" *ngIf="showFollowupDateTime">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Followup Date</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-input value="{{ date | date: 'dd/MM/yyyy' }}" id="date" class="ion-text-end"></ion-input>
                  <ion-popover trigger="date" size="cover">
                    <ng-template>
                      <ion-datetime presentation="date" [(ngModel)]="date" formControlName="followupdate"
                        [showDefaultButtons]="true"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p" *ngIf="showFollowupDateTime">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked" trigger="open-datetime">Followup Time</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-input value="{{ time | date: 'shortTime'}}" id="time" class="ion-text-end"></ion-input>
                  <ion-popover trigger="time" size="cover">
                    <ng-template>
                      <ion-datetime presentation="time" [(ngModel)]="time" formControlName="followuptime"
                        [showDefaultButtons]="true"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p" *ngIf="showLocation">
              <ion-col class="col_height">
                <!-- {{jointvisitChecked}} -->
                <input type="checkbox"  [value]="jointvisitChecked" (change)="jointVisit($event)" formControlName="jointvisit">
                <!-- <ion-checkbox  value="jointvisitChecked" (ionChange)="jointVisit(jointvisitChecked)" formControlName="jointvisit"></ion-checkbox> -->
                <!-- <ion-checkbox [checked] (ionChange)="jointVisit(jointvisitChecked)" formControlName="jointvisit"></ion-checkbox>  -->
                 &nbsp; &nbsp; <ion-label position="stacked">Joint Visit</ion-label>

              </ion-col>
            </div>
            <div class="w-100-p" *ngIf="showEmployeeDetails">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Emp Code</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-input type="number" formControlName="empcode" (ionBlur)="empCode()"></ion-input>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p" *ngIf="showEmployeeDetails">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Emp Name</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-textarea formControlName="empname"></ion-textarea>
                </ion-item>

              </ion-col>
            </div>

            <div class="w-100-p" *ngIf="showLocation">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Enter Location</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-textarea formControlName="location"></ion-textarea>
                </ion-item>

              </ion-col>
            </div>
            <div class="w-100-p">
              <ion-col class="col_height">
                <div class="input_heading">
                  <ion-label position="stacked">Remarks</ion-label>
                </div>
                 <ion-item class="input_field">
                  <ion-textarea formControlName="remarks"></ion-textarea>
                </ion-item>

              </ion-col>
            </div>




          </ion-row>
        </ion-grid>



        <br>
        <div class="update_button">
          <ion-button style="--background:#87ceeb" type="submit" expand="block">Save</ion-button>

        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer class="footer">
  <p class="footer_content">City Union Bank Ltd</p>
</ion-footer>