.text-r{
    text-align: right !important;
}
.exception-card{
    padding: 10px;
    border: 1px solid black;
    color: #155091;
}
.card_heder {
    background: deeppink;
    color: #fff !important;
  }