.toolbar_card{
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: black;
}
.card_content{
    color: black;
    font-size: 16px;
    padding: 0px;
}