<ion-toolbar class="header">
  <ion-buttons slot='end'>
    <ion-icon name="home" class="home_icon"></ion-icon>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title >My SMA Customers</ion-title>
  </ion-toolbar>

  <ion-content class="body_bg">

    <div class="row col-md-12" style="padding-top: 10px; margin: 0 auto;">
      <table>
          <tr style="background-color:#ec0576;color: white;font-size: 14px;font-weight: 500;">

              <th style="background-color:#ec0576;">Total SMA 1 Accounts</th>
              <th style="background-color:#ec0576;">Total SMA 2 Accounts</th>
              <th style="background-color:#ec0576;">Total SMA Accounts</th>
          </tr>
          <tr>
              <th style="background-color:white;" *ngFor="let item of SmaRecovery">{{item.text}}</th>
              <!-- <th style="background-color:white;">{{SmaRecovery[1].text}}</th>
              <th style="background-color:white;">{{SmaRecovery[2].text}}</th> -->
          </tr>
      </table>


  </div>

    <ion-card *ngFor="let items of getSMAaccountDetail">
      <ion-card-header class="card_heder">
        <span class="card_heading">{{items.CBSCUSTOMERID}}</span>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
        <span style="float:right;color:white">{{items.MOBILE}}</span>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Name</p>
            </div> 
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.CUSTOMERNAME}}</p>
            </div>
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Account Number</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.ACCOUNTNUMBER}}</p>
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Customer Category</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.PURPOSE || "-"}}</p>
              <!-- <p class="card_right_text" *ngIf="items.total!=null">(Rs In Lakhs)</p> -->
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Outstanding Amount</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.Amount || '-'}}</p>
              <!-- <p class="card_right_text" *ngIf="items.total!=null">(Rs In Lakhs)</p> -->
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Critical - Amount</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text" >{{items.RAMOUNT || "-"}}</p>
            </div> 
            
          </ion-col>
          <!-- <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Rating</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">({{items.custCat}})</p>
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Cust-Category</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.Customer_Category}}</p>
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Frequency of Visit</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.frequency}}</p>
            </div> 
            
          </ion-col>
  
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_left_text">Date of Mapping</p>
            </div>
          </ion-col>
          <ion-col size="6" class="col_height">
            <div>
              <p class="card_right_text">{{items.DateMapping ||'-'}}</p>
            </div> 
            
          </ion-col>
          -->
        </ion-row>
        </ion-grid>
        
       
                          <!--  <div class="search-table-outter wrapper">     -->
                            <table class="table" style="margin-left:-4px;margin-top: 5px;font-size:13px;">
                              <tr>
                                  <th class="fontsize" style="font-weight:bold;background-color:  #e7e5e5!important;color:#444444;">Monthly
                                      Calls
                                  </th>
                                  <th class="fontsize" style="font-weight:bold;background-color:  #e7e5e5!important;color:#444444;">Yearly
                                      Calls
                                  </th>
                                  <th class="fontsize" style="font-weight:bold;background-color:  #e7e5e5!important;background-color:  #e7e5e5!important;color:#444444;">Monthly
                                      Visits
                                  </th>
  
                                  <th class="fontsize" style="font-weight:bold;background-color:  #e7e5e5!important;color:#444444">Yearly
                                      Visits
                                  </th>
                                  <!-- <th style="font-weight:bold;">Rs.In.Lakhs</th> -->
                              </tr>
                              <tr>
                                  <td>{{items.CMONTH ||'-'}}</td>
                                  <td>{{items.CYEAR ||'-'}}</td>
                                  <td>{{items.CMONTH ||'-'}}</td>
                                  <td>{{items.VYEAR ||'-'}}</td>
                                  <!-- <td>{{items.total}}</td> -->
                              </tr>
                          </table>
        <br>
  <div class="update_button">
    <ion-button style="--background:#87ceeb" (click)="customerActionModal(items)" expand="block">Update</ion-button>
  
  </div>
      </ion-card-content>
    </ion-card>
  
  
  
    <!-- <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <p>Sales Rep</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Daniel Smith</h2>
                <p>Product Designer</p>
              </ion-label>
            </ion-item>
            
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal> -->
  
  </ion-content>
<ion-footer class="footer">
  <p class="footer_content">City Union Bank Ltd</p>
</ion-footer>