.input_heading{
    color:black;
    font-weight: bold;
    font-size: 14px;
    // margin-left: 2%;
    // width:96%;
    // margin-top: 2px;
    }
    .input_field{
        // width:96%;
        height:40px;
        text-align: left;
        --background:white;
        margin-left: auto;
        margin-right: auto;
        color: black !important;
        border-radius: 5px;
        // --background:white
    }
    .select_field{
        height:40px;
    //   width:100%;
        // border:0px solid grey;
        // border-radius: 5px;
        // right: 1px !important;
        // overflow:auto ;
        color:black !important;
        // position: absolute;
        border-radius: 5px;
        --background:white
    }
    .content_item{
        // padding:5px…
   color:white;
    border:0px
  }
  .card_left_text{
    color: black;
    text-align: left;
    font-weight: bold;
  }
  .card_right_text{
    color: black;
    text-align: right;
    font-weight: bold;
  }
  
  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #e7e5e5;
  }
  
  th,
  td {
    padding: 15px;
  }
  .update_button{
    width:60%;
    margin-left: auto;
    margin-right:auto;
    // background-color: #ec0576;
  }
  // .col_height{
  //     min-height:
  // }