// ion-grid.md.hydrated {
//     margin: 0px;
//   }
.segment {
    border: solid 1px #eb0475;
    margin: 3px;
    background: #eb0475;
  }
  .input_field{
    // width:96%;
    text-align: left;
    // --background:#DADADA;
    margin-left: auto;
    margin-right: auto;
    color: black !important;
    border-radius: 5px;
height:40px;
border:1px solid grey;

    // --background:grey
}
  
//   .card_heder{
//     background-color: #ec0576;
//     padding:10px
// }
// .card_heading{
//     color:white;
//     border:0px
// }
// .card_left_text{
//     color: black;
//     text-align: left;
//     font-weight: bold;
// }
// .card_right_text{
//     color: black;
//     text-align: right;
//     font-weight: bold;
// }
// .update_button{
//     width:60%;
//     margin-left: auto;
//     margin-right:auto;
//     // background-color: #ec0576;
// }
.mandfield{
  color: red;

}