<!-- <ion-header collapse="condense" class="header"> -->
<ion-toolbar class="header">
  <ion-buttons slot='end' style="margin-right:0.5rem" >
    <!-- <ion-back-button defaultHref=""></ion-back-button> -->
    <ion-icon name="home" class="home_icon" ></ion-icon>
    
  
  <!-- <ion-back-button defaultHref=""></ion-back-button> -->
  </ion-buttons> &nbsp;&nbsp; &nbsp;&nbsp;
  <ion-buttons slot='end'>
    <!-- <ion-back-button defaultHref=""></ion-back-button> -->
   
    <ion-menu-button></ion-menu-button>
  
  <!-- <ion-back-button defaultHref=""></ion-back-button> -->
  </ion-buttons>
  <ion-title >My Planner</ion-title>
  </ion-toolbar>
<!-- </ion-header> -->
<ion-content [fullscreen]="true" class="body_bg">

<!-- 
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
<ion-footer class="footer">
  <p class="footer_content">City Union Bank Ltd</p>
</ion-footer>