<ion-toolbar class="header">
    <ion-buttons slot='end'>
      <ion-icon name="home" class="home_icon"></ion-icon>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CommonVisits</ion-title>
    </ion-toolbar>

<ion-content class="body_bg">
   

               <ion-row>
                <ion-col size="6">
                    <div class="content_item">
                    <ion-label>Customer ID</ion-label>
                    <ion-item class="input_field">
                <ion-input class="input-md textinput textInput form-control inputcolor" style="padding: 1em ; border: 1px solid #ddd4d4;" placeholder="Customer ID" [(ngModel)]="search.CBSCustomerID" (ionBlur)="searchCommonVisits(search.Purpose,search.CBSCustomerID)"></ion-input>
                </ion-item>
                </div>
                </ion-col>
                <ion-col size="6">
                    <div class="content_item">
                    <ion-label>Purpose</ion-label>
                    <ion-item class="input_field">
                    <ion-select class="select_field" name="Purpose" style="margin-bottom: 10px;" [(ngModel)]="search.Purpose" (ionChange)="searchCommonVisits(search.Purpose,search.CBSCustomerID)">
                        <ion-select-option value="">Select</ion-select-option>
                        <ion-select-option *ngFor="let items of callPurpose" value="{{items.Value}}">{{items.Text}}</ion-select-option>
                    </ion-select>
                    </ion-item>
                </div>
                </ion-col>
               </ion-row> 

               <ion-card *ngFor="let items of commonvisitdataonload">
                <ion-card-header class="card_heder">
                  <span class="card_heading">{{items.CUSTOMER_ID}}</span>
                
                  <span style="float:right;color:white;cursor: pointer;" class="fa fa-mobile" (click)="callNumber(items)"><u>{{items.CONTACT_NO}}</u></span>
                </ion-card-header>
            
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_left_text"  >Name</p>
                      </div>
                    </ion-col>
                    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_right_text">{{items.CustomerName}}</p>
                      </div>
                    </ion-col>   
                     <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_left_text">Account No</p>
                      </div>
                    </ion-col>
                    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_right_text">{{items.AccountNumber}}</p>
                      </div>
            
                    </ion-col>
            
                    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_left_text">Purpose</p>
                      </div>
                    </ion-col>
                    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_right_text">{{items.Purpose}}</p>
                      </div>
            
                    </ion-col>
                     <ion-col size="6" class="col_height">
              <div>
                        <p class="card_right_text">Call Date</p>
                      </div>
            </ion-col>
    <ion-col size="6" class="col_height">
                      <div>
                        <p class="card_right_text">{{items.ToCallDate || "-"}}</p>
                      </div>
            
                    </ion-col>
       <div class="container-fluid">
                         <div class="col-sm-12 text-center" style="padding-bottom: 10px;">
                          <ion-button class="schedulebutn fa fa-pencil-square-o" style="font-size: 13px;letter-spacing: 1px;"  (click)="commonvisitUpdateModal(items)" center>Action</ion-button>
                            
                         </div>
                      </div> 
                 
                  </ion-row>
                  </ion-grid>
            
            
            
                  <br>
            <!-- <div class="update_button">
              <ion-button style="--background:#87ceeb"  (click)="myassignActionModal(customer)" expand="block">Action</ion-button>
            
            </div> -->
                </ion-card-content>
              </ion-card>


            
        

         <center>
                        <p style="margin-top: 20px !important;color: black;font-size: bold;" *ngIf="commonvisitdataonload==0"> No Record Found</p>
                    </center>
</ion-content>


